{template 'common/header'}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
           导航样式说明
        </h3>
    </div>
    <div class="panel-body">
        <div>
            <h4>样式1：</h4>
            <img src="{$imgurl}nav1.jpg">
        </div>
        <h4>样式2：一行两列的导航，不限制个数。只是提供了一个布局，图片上的所有元素都需要自己设计，包括分类名称也是需要加到图片上的。高度可以自由设置，默认图片比例328*128（像素）</h4>
        <img src="{$imgurl}nav2.jpg">
        <div>
            <h4>样式3：一行三列导航，和样式2原理一样。默认图片比例123*178</h4>
            <img src="{$imgurl}nav3.jpg">
        </div>
      
    </div>
</div>


{template 'common/footer'}